body {
    margin: 0;
    background: #dcdcdc;
    font-family: system, -apple-system, caption, sans-serif;
    min-height: 100vh;
    width: 100vw;
}

.omit {
    display: none;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    right: 1em;
    cursor: pointer;
    text-decoration: none !important;
    margin: 1rem 0.5rem 0.5rem;
    line-height: 2rem;
    padding: 0 1rem;
    border-radius: 2px;
    background: #1a5dad;
    color: white;
    font-weight: 500;
    position: fixed;
}

#map {
    text-align: center;
    background: white;
    padding: 0.5rem;
    box-sizing: border-box;
}

#mapsvg {
    max-height: calc(66vh - 1rem);
}

#controls {
    border: 0 none;
    background: #dcdcdc;
    color: #5a5a5a;
    flex: 1 0 33vh;
    font-size: 13px;
}

#controls div {
    column-count: 2;
}

@media (min-width: 600px) {
  #controls div {
      column-count: 3;
  }
}

@media (min-width: 850px) {
  #controls div {
      column-count: 4;
  }
}

@media (min-width: 1024px) {
  #controls div {
      column-count: 5;
  }
}


label {
    display: block;
    box-sizing: border-box;
    padding: 0 0.5rem;
    line-height: 2rem;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    box-sizing: border-box;
    margin: 0 0.5rem 0 0;
    vertical-align: middle;
}

hr {
    margin: 0 0.5rem;
    border: 0 none;
    border-top: 1px solid;
}
